Server Name: {{ ansible_hostname }}
FQDN Server: {{ ansible_fqdn }}
OS Vendor  : {{ansible_distribution}}
OS version : {{ ansible_distribution_major_version}}


{{ ( ansible_facts['date_time']['hour'] | int ) + 1 }}

{{ 1181 | root }}
{{ [1,2,3,4,5,6] | sum }}
{{ [1,2,3,4,5,6] | length }}
{{ [1,2,3,4,5,6] | first }}
{{ [1,2,3,4,5,6] | last }}
{{ [1,2,3,4,5,6] | random }}
{{ [1,6,2,[3,4],5] | flatten  }}



